/* CSS files add styling rules to your content */
body {
  font-family:'Bangers', cursive;
  margin: 2em;
  background-color: red;
}

h1 {
  font-style: italic;
  color: yellow;
}
 
.dogs{
color: yellow;
}

div{
  border-style: ;
  padding:5px;
  border-width: 5px
}